h1 {
  margin-bottom: 5px;
  font-size: 2.1em;
}

h3 {
  margin-top: 0;
}


.whole-page {
  margin: 0 12px;
}

.date-change-warning {
  width: 100% ;
}

.text-fields {
  margin: 23px 0;
}

.total h2{
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 3em;
  color: rgb(47, 255, 57);
}

.submit-button-div {
  display: flex;
  margin: 10px 0 50px;
  justify-content: center;
  flex-direction: column;

}

.error-message {
  text-align: center;
  color: red;
}

button.submit {
  height: 2.5em;
  font-size: 1.3em;
}